{% extends "layouts/site_base.html" %}

{% block page_title %}{{ rant.name }} | {{ block.super }} {% endblock %}

{% block header %}
<h1> {{ rant.name }} </h1>
{% endblock %}

{% block main %}
<p>{{ rant.description|linebreaks }}</p>
<section>
	<h2>Recent Posts</h2>
		{% if rant.posts.get_visible %}
		<ul>
			{% for post in rant.posts.get_visible %}
			<li>
				<h3><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h3>
				{{ post.publish_at|date }}
				{{ post.excerpt|linebreaks }}
			</li>
			{% endfor %}
		</ul>
		{% else %}
		<p> Sorry, no posts yet. Check back soon. </p>
		{% endif %}
</section>
<a href="{% url "rants.views.blog_index" %}"> Back to rants list </a>

{% endblock %}
{% block footer %}
<p> All contents &copy; 2013 {{ rant.user }}</p>
{% endblock %}
